
@use 'variabler' as *; /*Gør at alle variabler kan kaldes på efter variabler*/

/*Mixins til skrifttyper*/

/*Mixin til hovedoverskrifttype - 'Spartan'*/
@mixin style-headline ($size){
    font-family: $headline-font;
    font-weight: 300;
    font-size: $size;
}

/*Mixin til underoverskrifttype - 'Spartan'*/
@mixin h1($size){
    font-family: $subheadline-font;
    font-size: $size;
}

/*Mixin til brødteksttype - 'Nunito'*/
@mixin p{
    font-family: $body-text-font;
}

/*Mixin til knap teksttype - 'Nunito'*/
@mixin btn-styling {
    border: 4px dotted;
    border-radius: 10px;
    background-color: $btn-color;
    background-clip: padding-box; /* Gør at baggrunden stopper ved border*/
    font-size: 20px;
}

@mixin btn-font-styling {
    font-family: $btn-font;
    color: $text-color-black;
}

