/*Variabler*/
$bg-color: #C5D6F9; /*lyseblå*/
$primary-color: #FFFBF0; /*lys beige*/
$nav-color: #384767; /*mørke blå*/
$text-color-white: #FFFFFF;/*hvid*/
$text-color-black: #000000; /*Sort*/
$headline-font: 'Leauge Spartan';
$subheadline-font: 'League Spartan';
$body-text-font: 'Nunito';
$btn-font: 'Nunito';
$accent-color: #FFE53B; /*Gul*/; 
