@use 'variabler'; 
@use 'mixins'; 

/*^@use filerne hentes ind i style.scss som et modul. Filen er en samling af variabler, mixins og funktioner som kan genbruges*/

body{
    overflow-x: hidden;
    background-color: variabler.$bg-color;
}


.header-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 0 20px;
    max-width: 100%;
    gap: 10px;
}


/*Header*/

.header-1, .header-2 {
    background-color: variabler.$nav-color;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    @include mixins.section-design-bottom;
    position: relative;
    margin-bottom: -15px;
}

.header-1 { z-index: 3; }
.header-2 { z-index: 2; }

.header-1 img{
    width: 350px;
}

.header-navigation{

    #bars{
        display: none;
    }

    #menu {
        @include mixins.p;
        display: flex;
        list-style: none;
        gap: 50px;
        justify-content: center;

        li a {
            color: variabler.$text-color-white;
            text-decoration: none;
        }
    }

    #menu a:hover {
        color: variabler.$accent-color; /*gul ved hover*/
    }

    #menu a:active {
        color: variabler.$bg-color;
    }
}
/* Hero */

.hero {
    background-color: variabler.$mørke-blå;
    padding: 30px 20px;
    position: relative;
    z-index: 1;
    @include mixins.section-design-bottom;
}

.hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.hero-text{
    flex: 3; /*3/5 af pladsen*/
    align-self: flex-start;
}

.hero-ikon{
    flex: 2; /*2/5 af pladsen*/
}

.hero h1{
    @include mixins.h1(50px);
    color: variabler.$accent-color;
    margin-left: 70px;
    margin-top: 40px;
}

.hero p{
    @include mixins.p;
    color: variabler.$text-color-white;
    margin-left: 70px;
    margin-top: 40px;
}

.hero-ikon img{
    width: 450px;
}

.hero-btns {
    display: flex;
    margin-left: 70px;
    margin-top: 40px;
    gap: 50px;
}

.hero-btns button{
    @include mixins.btn-styling;
    background-color: variabler.$btn-color;
    padding: 12px 24px;

    @include mixins.btn-font-styling;
    border-color: variabler.$accent-color;
}

.hero-text-1 {
    font-size: 15px;
}

.hero-text-2{
    font-size: 22px;
}

/* Informations sektion */

.information{
    background-color: variabler.$primary-color;
    margin-top: -50px;
    z-index: 4;
    @include mixins.section-design-bottom;
}

.information-container{
    display: grid;
    grid-template-columns: 1fr 1fr; /* To kollonner*/
    gap: 80px; /* Luft mellem de to kollonner*/
    max-width: 100%;
    margin: 0 auto; /* Er ikke helt sikker...*/
    padding: 120px 80px;
}

.info-column {
    display: flex;
    flex-direction: column;
    gap: 80px;
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: 30px;
    margin-right: 30px;
}

.info-box,
.info-box-blog,
.info-box-sad-fact {
    background-color: variabler.$box-color;
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex: 1;
    border: 4px dotted variabler.$nav-color;
    border-radius: 40px;
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.5);
}

.info-box h2,
.info-box-blog h2,
.info-box-sad-fact h2 {
    @include mixins.h2(24px);
    color: variabler.$text-color-black;
    padding: 10px 30px 0 30px;
}

.info-box p,
.info-box-blog p,
.info-box-sad-fact p {
    @include mixins.p;
    color: variabler.$text-color-black;
    padding: 10px 30px 10px 30px;
}

.info-box img,
.info-box-blog img,
.info-box-sad-fact img {
    width: 100%;
    max-width: 180px;
    margin-bottom: 20px;
}

.info-btn {
    align-self: flex-start;
    background-color: variabler.$bg-color;
    margin-bottom: 20px;
}

/* Skille sektion */
.banner{
    margin: 80px 0 80px 0;
}

.banner h2{
    @include mixins.h2(35px);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Hvad er et scenarie sektion*/

.scenario-info{
    background-color: variabler.$primary-color;
    padding-top: 80px;
    @include mixins.section-design-top;
}

.scenario-info-container h2{
    @include mixins.h2(35px);
    margin: -100px 0 50px 0;
    display: flex;
    justify-content: center;
}

.scenario-info-container {
    display: flex;
    flex-direction: column;
    gap: 80px; /* Luft mellem de tre rækker*/
    max-width: 70%;
    margin: 0 auto; 
    padding: 120px 80px;
}

.scenario-info-box {
    display: flex;
    gap: 30px;
    align-items: flex-start;
    background-color: variabler.$box-color;
    padding: 20px;

    @include mixins.btn-styling();
    background-color: variabler.$box-color;
}

.scenario-info-icon{
    width: 100%;
    max-width: 180px;
}

.scenario-info-text h3{
    @include mixins.h3(35px);
}

.scenario-info-text p{
    @include mixins.p;
        color: variabler.$text-color-black;
}

/* Phishing scenarie */
.scenario-main {
    background-color: variabler.$mørke-blå;
    @include mixins.section-design-top;
    margin-top: -50px;
    position: relative;
    z-index: 1;
}

.scenario-main h2 {
    @include mixins.h2(35px);
    color: variabler.$accent-color;
}

.scenario-main h3{
    @include mixins.h3(30px);
    color: variabler.$text-color-white;
}

.scenario-main p{
    @include mixins.p(25px);
    color: variabler.$text-color-white;
}


/*------------------------------------------------*/
/*Resposnivitet - Mobil version*/
@media (max-width: 768px){

    #bars{
        display: block;
    }

    #menu{
        display: none;
    }

}




/*Skip to main content code snippet fra:https://www.a11y-collective.com/blog/skip-to-main-content/ */

.screen-reader-text {
    position: absolute; //Positions the link absolutely on the page, allowing it to be placed anywhere.
    left: -9999px; //Moves the link far off-screen to the left, making it invisible to sighted users.
    z-index: 999; //Sets a high z-index, ensuring that the link will be on top of other page elements if it becomes visible.
    padding: 1em;
    background-color: black;
    color: white;
    opacity: 0; //Sets the link's opacity to 0, making it fully transparent and invisible.
  }
  
  .screen-reader-text:focus {
    left: 50%; // When the link receives focus (e.g., when a keyboard user tabs to it), it is repositioned horizontally to the centre of the screen.
    transform: translateX(-50%); //This centres the link horizontally by moving it back to the left by 50% of its own width.
    opacity: 1; //The link's opacity is set to 1, making it fully visible.
  }