@charset "UTF-8";
/*Variabler*/
/*lyseblå*/
/*lys beige*/
/*lys beige*/
/*mørke blå*/
/*mørke blå*/
/*hvid*/
/*Sort*/
/*Mørk beige*/
/*Gul*/
/*Gør at alle variabler kan kaldes på efter variabler*/
/*Mixins til skrifttyper*/
/*Mixin til hovedoverskrifttype - 'Spartan'*/
/*Mixin til underoverskrifttype - 'Spartan'*/
/* Mixin til h3*/
/*Mixin til brødteksttype - 'Nunito'*/
/*Mixin til knap teksttype - 'Nunito'*/
/*^@use filerne hentes ind i style.scss som et modul. Filen er en samling af variabler, mixins og funktioner som kan genbruges*/
body {
  overflow-x: hidden;
  background-color: #C5D6F9;
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 100%;
  gap: 10px;
}

/*Header*/
.header-1, .header-2 {
  background-color: #384767;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.5);
  border-radius: 0 0 40px 40px;
  position: relative;
  margin-bottom: -15px;
}

.header-1 {
  z-index: 3;
}

.header-2 {
  z-index: 2;
}

.header-1 img {
  width: 350px;
}

.header-navigation #bars {
  display: none;
}
.header-navigation #menu {
  font-family: "Nunito";
  font-size: 20px;
  display: flex;
  list-style: none;
  gap: 50px;
  justify-content: center;
}
.header-navigation #menu li a {
  color: #FFFFFF;
  text-decoration: none;
}
.header-navigation #menu a:hover {
  color: #FFE53B; /*gul ved hover*/
}
.header-navigation #menu a:active {
  color: #C5D6F9;
}

/* Hero */
.hero {
  background-color: #384767;
  padding: 30px 20px;
  position: relative;
  z-index: 1;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.5);
  border-radius: 0 0 40px 40px;
}

.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.hero-text {
  flex: 3; /*3/5 af pladsen*/
  align-self: flex-start;
}

.hero-ikon {
  flex: 2; /*2/5 af pladsen*/
}

.hero h1 {
  font-family: "League Spartan";
  font-weight: 300;
  font-size: 50px;
  color: #FFE53B;
  margin-left: 70px;
  margin-top: 40px;
}

.hero p {
  font-family: "Nunito";
  font-size: 20px;
  color: #FFFFFF;
  margin-left: 70px;
  margin-top: 40px;
}

.hero-ikon img {
  width: 450px;
}

.hero-btns {
  display: flex;
  margin-left: 70px;
  margin-top: 40px;
  gap: 50px;
}

.hero-btns button {
  border: 4px dotted;
  border-radius: 40px;
  background-color: #FFFBF0;
  background-clip: padding-box; /* Gør at baggrunden stopper ved border*/
  font-size: 20px;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.5);
  padding: 12px 24px;
  background-color: #FFFBF0;
  padding: 12px 24px;
  font-family: "Nunito";
  color: #000000;
  border-color: #FFE53B;
}

.hero-text-1 {
  font-size: 15px;
}

.hero-text-2 {
  font-size: 22px;
}

/* Informations sektion */
.information {
  background-color: #FFFBF0;
  margin-top: -50px;
  z-index: 4;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.5);
  border-radius: 0 0 40px 40px;
}

.information-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* To kollonner*/
  gap: 80px; /* Luft mellem de to kollonner*/
  max-width: 100%;
  margin: 0 auto; /* Er ikke helt sikker...*/
  padding: 120px 80px;
}

.info-column {
  display: flex;
  flex-direction: column;
  gap: 80px;
  margin-top: 80px;
  margin-bottom: 80px;
  margin-left: 30px;
  margin-right: 30px;
}

.info-box,
.info-box-blog,
.info-box-sad-fact {
  background-color: #F9EAC5;
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex: 1;
  border: 4px dotted #384767;
  border-radius: 40px;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.5);
}

.info-box h2,
.info-box-blog h2,
.info-box-sad-fact h2 {
  font-family: "League Spartan";
  font-size: 24px;
  font-weight: 300;
  color: #000000;
  padding: 10px 30px 0 30px;
}

.info-box p,
.info-box-blog p,
.info-box-sad-fact p {
  font-family: "Nunito";
  font-size: 20px;
  color: #000000;
  padding: 10px 30px 10px 30px;
}

.info-box img,
.info-box-blog img,
.info-box-sad-fact img {
  width: 100%;
  max-width: 180px;
  margin-bottom: 20px;
}

.info-btn {
  align-self: flex-start;
  background-color: #C5D6F9;
  margin-bottom: 20px;
}

/* Skille sektion */
.banner {
  margin: 80px 0 80px 0;
}

.banner h2 {
  font-family: "League Spartan";
  font-size: 35px;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hvad er et scenarie sektion*/
.scenario-info {
  background-color: #FFFBF0;
  padding-top: 80px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  border-radius: 40px 40px 0 0;
}

.scenario-info-container h2 {
  font-family: "League Spartan";
  font-size: 35px;
  font-weight: 300;
  margin: -100px 0 50px 0;
  display: flex;
  justify-content: center;
}

.scenario-info-container {
  display: flex;
  flex-direction: column;
  gap: 80px; /* Luft mellem de tre rækker*/
  max-width: 70%;
  margin: 0 auto;
  padding: 120px 80px;
}

.scenario-info-box {
  display: flex;
  gap: 30px;
  align-items: flex-start;
  background-color: #F9EAC5;
  padding: 20px;
  border: 4px dotted;
  border-radius: 40px;
  background-color: #FFFBF0;
  background-clip: padding-box; /* Gør at baggrunden stopper ved border*/
  font-size: 20px;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.5);
  padding: 12px 24px;
  background-color: #F9EAC5;
}

.scenario-info-icon {
  width: 100%;
  max-width: 180px;
}

.scenario-info-text h3 {
  font-family: "League Spartan";
  font-size: 35px;
}

.scenario-info-text p {
  font-family: "Nunito";
  font-size: 20px;
  color: #000000;
}

/* Phishing scenarie */
.scenario-main {
  background-color: #384767;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.5);
  border-radius: 40px 40px 40px 40px;
  margin-top: -50px;
  position: relative;
  z-index: 1;
  padding: 20px;
}

.scenario-main h2 {
  font-family: "League Spartan";
  font-size: 35px;
  font-weight: 300;
  color: #FFE53B;
}

.scenario-main h3 {
  font-family: "League Spartan";
  font-size: 30px;
  color: #FFFFFF;
}

.scenario-main p {
  font-family: "Nunito";
  font-size: 20px;
  color: #FFFFFF;
}

.stage {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  padding: 60px;
  max-width: 80%;
  margin: 0 auto;
}

.stage img {
  grid-column: 1;
  grid-row: 1/-1;
  order: 1;
  max-width: 300px;
  align-self: center;
  justify-self: center;
}

.stage h2, .stage h3, .stage p, .stage button {
  grid-column: 2;
}

.stage h2 {
  font-family: "League Spartan";
  font-size: 24px;
  font-weight: 300;
}

.stage p {
  font-family: "Nunito";
  font-size: 20px;
  text-align: left;
}

.stage button {
  border: 4px dotted;
  border-radius: 40px;
  background-color: #FFFBF0;
  background-clip: padding-box; /* Gør at baggrunden stopper ved border*/
  font-size: 20px;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.5);
  padding: 12px 24px;
  padding: 12px 24px;
  font-family: "Nunito";
}

/* Phishing scenarie */
.phishing-info {
  background-color: #FFFBF0;
  padding: 60px 20px;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.5);
  border-radius: 40px 40px 40px 40px;
}

.phishing-info h2 {
  font-family: "League Spartan";
  font-size: 32px;
  font-weight: 300;
  text-align: center;
  color: #000000;
  margin-bottom: 40px;
}

.phishing-info p {
  font-family: "Nunito";
  font-size: 20px;
  text-align: center;
  margin: 0 auto 60px;
  max-width: 70%;
}

.tips-and-tricks-section {
  background-color: #F9EAC5;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.5);
  border-radius: 40px 40px 40px 40px;
  max-width: 70%;
  margin: 0 auto;
  padding: 40px;
}

.tips-and-tricks-section h3 {
  font-family: "League Spartan";
  font-size: 35px;
  padding-left: 40px;
}

.tips-and-tricks-section p {
  font-family: "Nunito";
  font-size: 20px;
}

.tips-and-tricks-section ul {
  list-style: none;
}

.tips-and-tricks-section li {
  font-family: "Nunito";
  font-size: 20px;
}

.tips-and-tricks-section button {
  border: 4px dotted;
  border-radius: 40px;
  background-color: #FFFBF0;
  background-clip: padding-box; /* Gør at baggrunden stopper ved border*/
  font-size: 20px;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.5);
  padding: 12px 24px;
  font-family: "Nunito";
  color: #000000;
  margin: 40px 0 40px 40px;
}

/*------------------------------------------------*/
/*Resposnivitet - Mobil version*/
@media (max-width: 768px) {
  #bars {
    display: block;
  }
  #menu {
    display: none;
  }
}
/*Skip to main content code snippet fra:https://www.a11y-collective.com/blog/skip-to-main-content/ */
.screen-reader-text {
  position: absolute;
  left: -9999px;
  z-index: 999;
  padding: 1em;
  background-color: black;
  color: white;
  opacity: 0;
}

.screen-reader-text:focus {
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
}/*# sourceMappingURL=style.css.map */