@charset "UTF-8";
/*Variabler*/
/*lyseblå*/
/*lys beige*/
/*lys beige*/
/*mørke blå*/
/*mørke blå*/
/*hvid*/
/*Sort*/
/*Mørk beige*/
/*Gul*/
/*Gør at alle variabler kan kaldes på efter variabler*/
/*Mixins til skrifttyper*/
/*Mixin til hovedoverskrifttype - 'Spartan'*/
/*Mixin til underoverskrifttype - 'Spartan'*/
/* Mixin til h3*/
/*Mixin til brødteksttype - 'Nunito'*/
/*Mixin til knap teksttype - 'Nunito'*/
/*^@use filerne hentes ind i style.scss som et modul. Filen er en samling af variabler, mixins og funktioner som kan genbruges*/
body {
  overflow-x: hidden;
  background-color: #C5D6F9;
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 100%;
  gap: 10px;
}

/*Header*/
.header-1, .header-2 {
  background-color: #384767;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.5);
  border-radius: 0 0 40px 40px;
  position: relative;
  margin-bottom: -30px;
}

.header-1 {
  z-index: 3;
}

.header-2 {
  z-index: 2;
}

.header-1 img {
  width: 350px;
}

.header-navigation #bars {
  display: none;
}
.header-navigation #menu {
  font-family: "Nunito";
  font-size: 20px;
  display: flex;
  list-style: none;
  gap: 50px;
  justify-content: center;
  padding-top: 15px;
}
.header-navigation #menu li a {
  color: #FFFFFF;
  text-decoration: none;
}
.header-navigation #menu a:hover {
  color: #FFE53B; /*gul ved hover*/
}
.header-navigation #menu a:active {
  color: #C5D6F9;
}

/* Hero */
.hero {
  background-color: #384767;
  padding: 80px 20px;
  position: relative;
  z-index: 1;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  border-radius: 40px 40px 0 0;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.5);
  border-radius: 0 0 40px 40px;
}

.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.hero-text {
  flex: 3; /*3/5 af pladsen*/
  align-self: flex-start;
}

.hero-ikon {
  flex: 2; /*2/5 af pladsen*/
}

.hero h1 {
  font-family: "League Spartan";
  font-weight: 300;
  font-size: 50px;
  color: #FFE53B;
  margin-left: 140px;
  margin-top: 40px;
}

.hero p {
  font-family: "Nunito";
  font-size: 20px;
  color: #FFFFFF;
  margin-left: 140px;
  margin-top: 40px;
}

.hero-ikon i {
  font-size: 250px;
  color: #C5D6F9;
}

.hero-btns {
  display: flex;
  margin-left: 140px;
  margin-top: 40px;
  gap: 50px;
}

.hero-btns button {
  border: 4px dotted;
  border-radius: 40px;
  background-color: #FFFBF0;
  background-clip: padding-box; /* Gør at baggrunden stopper ved border*/
  font-size: 20px;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.5);
  padding: 12px 24px;
  transition: background-color 0.3s ease-in-out;
}
.hero-btns button:hover {
  background-color: #FFE53B;
}
.hero-btns button {
  background-color: #FFFBF0;
  padding: 12px 24px;
  font-family: "Nunito";
  color: #000000;
  border-color: #FFE53B;
}

.hero-text-1 {
  font-size: 15px;
}

.hero-text-2 {
  font-size: 22px;
}

/* Informations sektion */
.information {
  background-color: #FFFBF0;
  margin-top: -50px;
  z-index: 4;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.5);
  border-radius: 0 0 40px 40px;
}

.information-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* To kollonner*/
  gap: 80px; /* Luft mellem de to kollonner*/
  max-width: 100%;
  margin: 0 auto; /* Er ikke helt sikker...*/
  padding: 120px 80px;
}

.info-column {
  display: flex;
  flex-direction: column;
  gap: 80px;
  margin-top: 80px;
  margin-bottom: 80px;
  margin-left: 30px;
  margin-right: 30px;
}

.info-box,
.info-box-blog,
.info-box-sad-fact {
  background-color: #F9EAC5;
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex: 1;
  border: 4px dotted #384767;
  border-radius: 40px;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.5);
}

.info-box h2,
.info-box-blog h2,
.info-box-sad-fact h2 {
  font-family: "League Spartan";
  font-size: 24px;
  font-weight: 300;
  color: #000000;
  padding: 10px 30px 0 30px;
}

.info-box p,
.info-box-blog p,
.info-box-sad-fact p {
  font-family: "Nunito";
  font-size: 20px;
  color: #000000;
  padding: 10px 30px 10px 30px;
}

.info-box img,
.info-box-blog img,
.info-box-sad-fact img {
  width: 100%;
  max-width: 180px;
  margin-bottom: 20px;
  padding: 0 0 10px 30px;
}

.info-btn {
  border: 4px dotted;
  border-radius: 40px;
  background-color: #FFFBF0;
  background-clip: padding-box; /* Gør at baggrunden stopper ved border*/
  font-size: 20px;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.5);
  padding: 12px 24px;
  transition: background-color 0.3s ease-in-out;
}
.info-btn:hover {
  background-color: #FFE53B;
}
.info-btn {
  font-family: "Nunito";
  color: #000000;
  background-color: #C5D6F9;
  background-clip: border-box;
  border-color: #000000;
  align-self: flex-start;
  margin: 0 0 20px 20px;
  text-decoration: none;
  padding: 10px 30px 10px 30px;
}

/* Skille sektion */
.banner {
  margin: 80px 0 80px 0;
}

.banner h2 {
  font-family: "League Spartan";
  font-size: 35px;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hvad er et scenarie sektion*/
.scenario-info {
  background-color: #FFFBF0;
  padding-top: 80px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  border-radius: 40px 40px 0 0;
}

.scenario-info-container h2 {
  font-family: "League Spartan";
  font-size: 35px;
  font-weight: 300;
  margin: -100px 0 50px 0;
  display: flex;
  justify-content: center;
}

.scenario-info-container {
  display: flex;
  flex-direction: column;
  gap: 80px; /* Luft mellem de tre rækker*/
  max-width: 70%;
  margin: 0 auto;
  padding: 120px 80px;
}

.scenario-info-box {
  display: flex;
  gap: 30px;
  align-items: center;
  background-color: #F9EAC5;
  padding: 20px;
  border: 4px dotted;
  border-radius: 40px;
  background-color: #FFFBF0;
  background-clip: padding-box; /* Gør at baggrunden stopper ved border*/
  font-size: 20px;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.5);
  padding: 12px 24px;
  transition: background-color 0.3s ease-in-out;
}
.scenario-info-box:hover {
  background-color: #FFE53B;
}
.scenario-info-box {
  background-color: #F9EAC5;
}

.scenario-info-icon {
  width: 100%;
  max-width: 180px;
}

.scenario-info-icon-scenario {
  max-width: 230px;
  margin-right: -50px;
}

.scenario-info-text h3 {
  font-family: "League Spartan";
  font-size: 35px;
}

.scenario-info-text p {
  font-family: "Nunito";
  font-size: 20px;
  color: #000000;
}

/* Phishing scenarie */
.scenario-main {
  background-color: #384767;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.5);
  border-radius: 40px 40px 40px 40px;
  margin-top: -50px;
  position: relative;
  z-index: 1;
  padding: 20px;
}

.scenario-main h2 {
  font-family: "League Spartan";
  font-size: 35px;
  font-weight: 300;
  color: #FFE53B;
}

.scenario-main h3 {
  font-family: "League Spartan";
  font-size: 30px;
  color: #FFFFFF;
}

.scenario-main p {
  font-family: "Nunito";
  font-size: 20px;
  color: #FFFFFF;
}

.stage {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  padding: 60px;
  max-width: 80%;
  margin: 0 auto;
}

.stage img {
  grid-column: 1;
  grid-row: 1/-1;
  order: 1;
  width: 100%;
  max-width: 450px;
  align-self: center;
  justify-self: center;
}

.stage h2, .stage h3, .stage p, .stage button {
  grid-column: 2;
}

.stage h2 {
  font-family: "League Spartan";
  font-size: 24px;
  font-weight: 300;
}

.stage h3 {
  margin-bottom: 10px;
}

.stage p {
  font-family: "Nunito";
  font-size: 20px;
  text-align: left;
}

.stage button {
  border: 4px dotted;
  border-radius: 40px;
  background-color: #FFFBF0;
  background-clip: padding-box; /* Gør at baggrunden stopper ved border*/
  font-size: 20px;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.5);
  padding: 12px 24px;
  transition: background-color 0.3s ease-in-out;
}
.stage button:hover {
  background-color: #FFE53B;
}
.stage button {
  padding: 12px 24px;
  font-family: "Nunito";
  border-color: #FFE53B;
}

/* Phishing scenarie */
.phishing-info {
  background-color: #FFFBF0;
  padding: 60px 20px;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.5);
  border-radius: 40px 40px 40px 40px;
}

.phishing-info h2 {
  font-family: "League Spartan";
  font-size: 32px;
  font-weight: 300;
  text-align: center;
  color: #000000;
  margin-bottom: 40px;
}

.phishing-info p {
  font-family: "Nunito";
  font-size: 20px;
  text-align: center;
  margin: 0 auto 60px;
  max-width: 70%;
}

.tips-and-tricks-section {
  background-color: #F9EAC5;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.5);
  border-radius: 40px 40px 40px 40px;
  max-width: 70%;
  margin: 0 auto;
  padding: 40px;
}

.tips-and-tricks-section h3 {
  font-family: "League Spartan";
  font-size: 35px;
  padding-left: 40px;
}

.tips-and-tricks-section ul {
  list-style: disc;
}

.tips-and-tricks-section p {
  font-family: "Nunito";
  font-size: 20px;
  text-align: left;
}

.tips-and-tricks-section li {
  font-family: "Nunito";
  font-size: 20px;
  text-align: left;
}

.tips-and-tricks-section button {
  border: 4px dotted;
  border-radius: 40px;
  background-color: #FFFBF0;
  background-clip: padding-box; /* Gør at baggrunden stopper ved border*/
  font-size: 20px;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.5);
  padding: 12px 24px;
  transition: background-color 0.3s ease-in-out;
}
.tips-and-tricks-section button:hover {
  background-color: #FFE53B;
}
.tips-and-tricks-section button {
  font-family: "Nunito";
  color: #000000;
  margin: 40px 0 40px 40px;
}

/*Kontaktform*/
.contactform p {
  font-family: "Nunito";
  font-size: 20px;
  text-align: center;
}

.section-contactform h2 {
  font-family: "League Spartan";
  font-size: 35px;
  font-weight: 300;
  text-align: center;
  margin-top: 80px;
}

.contactform {
  background-color: #F9EAC5;
  width: 80%;
  padding: 20px 0 0 0;
  margin: 4em auto; /*margin og auto er med til at cebtrere blokelementet form*/
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contactform h3 {
  font-size: 25px;
  margin-bottom: 0;
  margin-left: 0.5em;
}
.contactform p {
  margin-left: 1em;
}
.contactform .contactform-information,
.contactform .section-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.contactform {
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.5);
  border-radius: 40px 40px 40px 40px;
}

.contactform h2 {
  margin-bottom: 60px;
}

.contactform p {
  font-family: "Nunito";
  font-size: 20px;
  margin: 0 40px 0 40px;
}

input[type=text], input[type=email], input[type=tel], select, textarea {
  font-family: "Nunito";
  font-size: 20px;
  width: 80%;
  padding: 1em;
  margin: 0.5em 1em 1em 1em;
  box-sizing: border-box; /*hjælper med at stille kasserne*/
  font-family: "Nunito";
  color: #000000;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.5);
  border-radius: 40px 40px 40px 40px;
}
input[type=text]::-moz-placeholder, input[type=email]::-moz-placeholder, input[type=tel]::-moz-placeholder, select::-moz-placeholder, textarea::-moz-placeholder {
  color: #000000;
}
input[type=text]::placeholder, input[type=email]::placeholder, input[type=tel]::placeholder, select::placeholder, textarea::placeholder {
  color: #000000;
}

input[type=submit] {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  border: 4px dotted;
  border-radius: 40px;
  background-color: #FFFBF0;
  background-clip: padding-box; /* Gør at baggrunden stopper ved border*/
  font-size: 20px;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.5);
  padding: 12px 24px;
  transition: background-color 0.3s ease-in-out;
}
input[type=submit]:hover {
  background-color: #FFE53B;
}
input[type=submit] {
  font-family: "Nunito";
  color: #000000;
  width: auto;
  align-self: center;
  margin: 1em 0 2em 0;
  cursor: pointer;
}

.visually-hidden { /*a11y-collective class som fjerner element fra skærm, men som stadig kan læses af skærmlæseren*/
  border: 0;
  clip-path: inset(50%);
  height: 1px;
  margin: 0;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* ----- Footer ----- */
/*Footer 1*/
footer:nth-of-type(1) {
  grid-column: 1/3;
  background-color: #FFE53B;
  display: grid;
  grid-template-columns: 2, 1fr;
  padding: 0 60px 0 60px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  border-radius: 40px 40px 0 0;
}
footer:nth-of-type(1) p, footer:nth-of-type(1) h3 {
  color: #000000;
  font-family: "Nunito";
  font-size: 20px;
  font-style: normal; /*Adress tilføjer selv 'kursiv'*/
}
footer:nth-of-type(1) img {
  width: 350px;
}
footer:nth-of-type(1) .footer-left {
  grid-column: 1/2;
  margin: 60px 0 80px 0;
}
footer:nth-of-type(1) .footer-logo {
  grid-column: 2/3;
  align-self: center;
  margin: auto 0; /*centrerer mellem top og bund*/
}

/*Footer 2*/
footer:nth-of-type(2) {
  background-color: #FFE53B;
  text-align: center;
  padding: 20px;
  margin-top: -30px;
  position: relative;
  z-index: 1;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  border-radius: 40px 40px 0 0;
}
footer:nth-of-type(2) p {
  font-family: "Nunito";
  font-size: 20px;
  color: #000000;
}

/*------------------------------------------------*/
/*Resposnivitet - Mobil version*/
@media (max-width: 768px) {
  /*body*/
  body {
    overflow-x: hidden;
  }
  /*Header*/
  .header-1 img {
    width: 150px;
    margin-left: 120px;
  }
  .header-1, .header-2 {
    display: inline-block; /*ligger ved siden af hinanden*/
    width: 100%;
    padding: 15px;
  }
  .header-navigation #bars {
    display: block;
    background-color: transparent;
    border: none;
    color: #FFFFFF;
    font-size: 28px;
    max-width: 100%;
  }
  #menu {
    display: none;
    position: absolute;
    width: 100%;
    top: 80%;
    flex-direction: column;
    background-color: #384767;
  }
  #menu.active {
    display: none;
  }
  /*Hero*/
  .hero-container {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
  .hero h1,
  .hero p,
  .hero-btns {
    margin-left: 0;
  }
  .hero-btns {
    flex-direction: column;
    gap: 16px;
  }
  /*Informationsbokse*/
  .information-container {
    grid-template-columns: 1fr;
    padding: 60px 20px;
    gap: 40px;
    margin-top: 40px;
  }
  .info-column {
    margin: 0;
    gap: 40px;
  }
  /*Skille sektion + kontaktform overskrift*/
  .banner h2,
  .section-contactform h2 {
    font-size: 20px;
    text-align: center;
    padding: 0 20px;
  }
  /*Scenarie information sektion*/
  .scenario-info-container {
    max-width: 100%;
    padding: 60px 20px;
    gap: 40px;
  }
  .scenario-info-container h2 {
    font-size: 22px;
    text-align: center;
    margin: -60px 0 30px 0;
    max-width: 80%;
  }
  .scenario-info-box {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }
  .scenario-info-icon {
    max-width: 80px;
    order: 2;
  }
  .scenario-info-icon-scenario {
    max-width: 100px;
    margin-right: 0;
  }
  .scenario-info-text {
    order: 1;
  }
  .scenario-info-text h3 {
    font-size: 20px;
  }
  /*Scenarie*/
  .stage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 20px;
    max-width: 100%;
    text-align: center;
  }
  .stage img {
    width: 100%;
    max-width: 200px;
    margin: 16px 0;
  }
  .stage h2 {
    font-size: 35px;
  }
  .stage h3 {
    font-size: 30px;
  }
  /*Footer*/
  footer:nth-of-type(1) {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
    text-align: center;
  }
  .footer-logo img {
    width: 200px;
    margin-bottom: 40px;
  }
}
/*Skip to main content code snippet fra:https://www.a11y-collective.com/blog/skip-to-main-content/ */
.screen-reader-text {
  position: absolute;
  left: -9999px;
  z-index: 999;
  padding: 1em;
  background-color: black;
  color: white;
  opacity: 0;
}

.screen-reader-text:focus {
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
}/*# sourceMappingURL=style.css.map */