@use 'variabler'; 
@use 'mixins'; 

/*^@use filerne hentes ind i style.scss som et modul. Filen er en samling af variabler, mixins og funktioner som kan genbruges*/


.header-navigation{

    #bars{
        display: none;
    }

    #menu {
        @include mixins.style-body-text;
        display: flex;
        list-style: none;
        gap: 50px;
        justify-content: center;

        li a {
            color: black;
            text-decoration: none;
        }
    }

    /*Resposnivitet - Mobil version*/
@media (max-width: 768px){

    #bars{
        display: block;
    }

    #menu{
        display: none;
    }

}

}





/*Skip to main content code snippet fra:https://www.a11y-collective.com/blog/skip-to-main-content/ */

.screen-reader-text {
    position: absolute; //Positions the link absolutely on the page, allowing it to be placed anywhere.
    left: -9999px; //Moves the link far off-screen to the left, making it invisible to sighted users.
    z-index: 999; //Sets a high z-index, ensuring that the link will be on top of other page elements if it becomes visible.
    padding: 1em;
    background-color: black;
    color: white;
    opacity: 0; //Sets the link's opacity to 0, making it fully transparent and invisible.
  }
  
  .screen-reader-text:focus {
    left: 50%; // When the link receives focus (e.g., when a keyboard user tabs to it), it is repositioned horizontally to the centre of the screen.
    transform: translateX(-50%); //This centres the link horizontally by moving it back to the left by 50% of its own width.
    opacity: 1; //The link's opacity is set to 1, making it fully visible.
  }